<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Análisis predictivo. Control de fabricación de turbinas </title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
   <h1>Análisis predictivo. Control de fabricación de turbinas</h1>
   <button class="m-5 btn btn-primary" onclick="location.href='http://127.0.0.1:5000/home/m1'">Máquina 1</button>
   <button class="btn btn-primary" onclick="location.href='http://127.0.0.1:5000/home/m2'">Máquina 2</button>
</body>

</html>