<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Inicio</title>
  <link rel="stylesheet" href='../../static/styles.css'>
  <link rel="shortcut icon" href="/templates/logo_invernadero.png">
</head>

<body class="pagInicio">
  
  <!--Cabecera de la pagina WEB-->
  <header class="cabecera">

    <a href="/home"><img src="https://st.depositphotos.com/2738857/4604/v/600/depositphotos_46042777-stock-illustration-eco-house-concept-green.jpg" width="100px" height="100px"></a>
    <nav>
      <ul>
        <li><a href="/home" id="inicio">Inicio</a></li>
      </ul>
    </nav>
  </header>

  <!--Cuerpo de la pagina WEB-->
  <main>

    <button class="botonActualizar" onclick="location.href='http://127.0.0.1:5000/home'">Actualizar Datos</button>
    <br><br>
    <br><br>
    <section class="seccion_Nosotros">
      <h2>✘ SENSOR TEMP - HUM ✘</h2>
      <br>
      <h3>Temperatura del Invernadero</h3>
      <h4>{{temp}}</h4>
      <h3>Humedad del Invernadero</h3>
      <h4>{{humi}}</h4>
    </section>

    <section class="seccion_Nosotros">
      <h2>✘ SENSOR LUMINOSIDAD ✘</h2>
      <br>
      <h3>Luminosidad del Invernadero</h3>
      <h4>{{lumi}}</h4>
      <h3>Estado de la luz artificial</h3>
      <h4>{{estadoLuz}}</h4>
      
    </section>

    <section class="seccion_Nosotros">
      <h2>✘ ESTADO DEL TECHO ✘</h2>
      <br>
      <h4>{{servo}}</h4>
    </section>
  </main>

  <!--Pie de pagina-->
  <footer class="piePagina">
    <hr />
    <table>
      <tr>

        <th>Empresa</th>
        <th>Dirección</th>
        <th>C.P.</th>
        <th>Teléfono</th>
        <th>Jon Pérez</th>
      </tr>
      <tr>
        <td>Domotic S.L.</td>
        <td>Calle Zurrupitieta - Júndiz</td>
        <td>01015</td>
        <td>945 122 206</td>
        <td><strong>Iñaki Verastegui</strong></td>
        
      </tr>
    </table>
  </footer>

</body>
</html>