<!DOCTYPE html>
   <head>
      <title>Home</title>
      <link rel="stylesheet" href='../../static/styles.css'/>
   </head>

   <body>
		<h1>Controlador de Invernadero</h1>
        <h3>
            <a style="display: inline; font-size:140%">Lecturas del Invernadero</a>  
        </h3>
        <br><br>

        <p>Temperatura Ambiente: {{temp1}}</p>
        <br>
        <p>Humedad Ambiente: {{hum1}}</p>

        <br><br>

        <h3>Estado del techo</h3>
        <br>
        <p>{{estado}}</p>
	
   </body>
</html>