<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantas 4.0</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="Captura.PNG">
</head>

<body class="pagPlantas">

    <header class="cabecera">

        <a href="codigo.html"><img src="logo_invernadero.png" width="125px" height="50px"></a>
        <nav>
            <ul>
                <li><a href="codigo.html">Inicio</a></li>
                <li><a href="Plantas_4.0.html">Plantas 4.0</a></li>
                <li><a href="pagina_contacto.html">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <main class="cuerpo_pagPlantas">

        <section class="bloque1">

            <h2>Estudio e implantación de Plantas Inteligentes</h2>
            <p>El análisis de datos, el internet de las cosas y la arquitectura en la nube son tecnologías fundamentales
                para la cuarta revolución industrial, y marcan un camino para que los fabricantes adopten prácticas más
                inteligentes. A su vez, estos procesos proporcionan la inteligencia y la visibilidad que los fabricantes
                necesitan para optimizar su eficiencia operativa.
            </p>

        </section>

        <img class="flecha" src="flecha.png" width="85px" height="85px">
        <img class="img_bloque1" src="Industry_4.0.png" width="470px" height="260px">

        <section class="video">

            <h2>Gestión del proceso productivo de una planta digitalizada</h2>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/6oSYn8vLibo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>

        </section>

        <section class="bloque2">

            <h2>MISPE 4.0</h2>

            <p>Ofrecemos la oportunidad de hacer una obra integral de una planta industrial en el ambito de
                construcción y digitalización de dicha planta. Con la colaboración de empresas externas contratadas por
                nosotros mismos, experimentadas en el sector de la automatización, construcción y demás gremios
                relacionados con nuestra actividad.
            </p>

            <img src="layout_planta4.0.png" width="650px" height="310px">

            <br><br>

            <p>Gestionamos los proyectos establecidos por el cliente para que la implantación del mismo cumpla con todas
                las necesidades y tenga toda la funcionalidad que el cliente establezca, garantizando que todas las
                actividades que se quieren realizar en dicha planta se puedan desempeñar sin problema alguno y con la
                mayor eficiencia y productividad. Y todo ello con la colaboración de nuestro equipo de ingeniería con
                una alta experincia en dichos procesos.
            </p>
            <p>Trabajaremos en la creación de todo el sistema necesario para llevar un control de la producción preciso
                y efectivo. Esto consta de implantar todo el sistema de sensores, pantallas HMI para controlar los
                automatas, herramientas de monitorización, robots encargados de desempeñar el trabajo, y por último pero
                muy importante, un sistema de control remoto en el que se pueda seguir a detalle el estado de la
                producción y salud de la maquinaria a tiempo real, consiguiendo así una efectividad, limpieza, claridad
                de gestión y productividad enormes.
            </p>
            <img src="diagrama4.0.png" width="450px" height="410px">

        </section>

    </main>



    <!--Pie de pagina-->
    <footer class="piePagina">
        <hr />
        <table>
            <tr>

                <th>Empresa</th>
                <th>Dirección</th>
                <th>C.P.</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
            </tr>
            <tr>
                <td>MISPE Proyectos y Cnes. S.L.U.</td>
                <td>Avda. del Cantábrico 12 pabellón 28</td>
                <td>01013</td>
                <td>945 122 206</td>
                <td>mispe@mispe.com</td>
            </tr>
        </table>
        <a href="https://twitter.com/?lang=es"><img class="icono" src="logo_twitter.png" width="55px" height="55px"></a>
        <a href="https://www.instagram.com/?hl=es"><img class="icono" src="logo_instagram.png" width="55px"
                height="55px"></a>
        <a href="https://www.linkedin.com/in/jon-pérez-martín/"><img class="icono" src="logo_linkedin.png" width="55px"
                height="55px"></a>
    </footer>

</body>

</html>