<!DOCTYPE html>

  <head>
      <meta charset=”UTF-8″ />
      <title>Login</title>
      <link rel="stylesheet" href='../../static/styles.css'>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body> 

    <div class="cuerpo_pagLogin">
    
          <h2>Inicio de Sesión</h2>
          <hr>
          <br>
          <form action="/" method="POST">
    
              <label>Usuario </label>
              <input type="text" class="viñetas" id="username" name="username" placeholder="Usuario">
    
              <label>Contraseña </label>
              <input type="password" class="viñetas" id="password" name="password" placeholder="Contrasena">
    
              <br><br>
              <button type="submit" class="botonEnviar">Iniciar Sesión</button>

              {% if feedback %}
              <p class="text-danger float-right">{{ feedback }}</p>
              {% endif %}

          </form>
    
    </div>
    
  </body>
</html>
