<!DOCTYPE html>

  <head>
      <meta charset=”UTF-8″ />
      <title>Login</title>
      <link rel="stylesheet" href='../../static/styles.css'/>
  </head>
  <body> 

    <div class="pagina">
    
          <h2>Inicio de Sesión</h2>
          <hr>
          <br>
          <form action="/" method="POST">
    
              <label>Usuario </label>
              <input type="text" class="viñetas" id="username" name="username" placeholder="Usuario">
    
              <label>Contraseña </label>
              <input type="password" class="viñetas" id="password" name="password" placeholder="Contrasena">
    
            <br><br>
            <button type="submit" class="botonEnviar">Iniciar Sesión</button>
    
          </form>
    
    </div>
    
  </body>
</html>
